@media (max-width: 1500px) {
    nav {
        flex-direction: column;
        gap: 10px;
    }
    .nav-links {
        flex-direction: column;
        align-items: center;
    }
    .language-selector {
        justify-content: center;
    }

    .project::after {
    display: none; /* on cache le point sur mobile pour rester propre */
    }
}
